*.pyc
dist/
build/
*egg-info/
exedist/
buildexe.bat
innosetup.iss
run.bat
msvcx90/
wininst/
ldoce5viewer/qtgui/ui/main.py
ldoce5viewer/qtgui/ui/advanced.py
ldoce5viewer/qtgui/ui/main.py
ldoce5viewer/qtgui/ui/indexer.py
.idea
