include README.txt
include COPYING.txt
include LICENSE.txt
include whoosh/LICENSE.txt
include ldoce5viewer.py
include ldoce5viewer.desktop
include scripts/ldoce5viewer
include ldoce5viewer/qtgui/resources/ldoce5viewer.svg
recursive-include ldoce5viewer/static *
